In [95]:
import pandas as pd
import numpy

#Packages for Classification algorithm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [96]:
zoo = pd.read_csv('zoo.csv')
zoo.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [97]:
numitems = len(zoo)
percenttrain = 0.85
numtrain = int(numitems*percenttrain)
numtest = numitems - numtrain
print('Total Records', numitems)
print ('Training set', numtrain, 'items')
print('Test set', numtest, 'items')
zooTrain = zoo[0:numtrain]
zooTest = zoo[numtrain:]

Total Records 101
Training set 85 items
Test set 16 items

In [108]:
cats = []
for i in range(len(zoo)):
    if zoo.loc[i]['class_type'] == 1:
        cats.append('Mammal')
    elif zoo.loc[i]['class_type'] == 2:
        cats.append('Bird')
    elif zoo.loc[i]['class_type'] == 3:
        cats.append('Reptile')
    elif zoo.loc[i]['class_type'] == 4:
        cats.append('Fish')
    elif zoo.loc[i]['class_type'] == 5:
        cats.append('Amphibian')
    elif zoo.loc[i]['class_type'] == 6:
        cats.append('Bug')
    elif zoo.loc[i]['class_type'] == 7:
        cats.append('Invertebrae')
    else:
        cats.append('Unknown')

animalType = ['Mammal','Bird','Reptile','Fish','Amphibian','Bug','Invertebrae','Unknown']
zoo['category'] = cats
zoo.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type,category
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,Mammal
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1,Mammal
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4,Fish
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,Mammal
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,Mammal

In [109]:
features = ['hair','feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic','catsize']
neighbors = 3
classifier = KNeighborsClassifier(neighbors)
#Build KNN Model
classifier.fit(zooTrain[features], zooTrain['class_type'])
#Predict/Classify
predictions = classifier.predict(zooTest[features])
# Calculate accuracy
numtrain = len(zooTrain)
numtest = len(zooTest)
correct = 0
for i in range(numtest):
  print (zooTest.loc[numtrain+i]['animal_name'],'Predicted:', animalType[predictions[i]-1], ' Actual:', animalType[zooTest.
loc[numtrain+i]['class_type']-1])
  if predictions[i] == zooTest.loc[numtrain+i]['class_type']: correct +=1
print('Correct prediction', correct, 'out of', numtest)
print ('Accuracy:', float(correct)/float(numtest))

starfish Predicted: Invertebrae  Actual: Invertebrae
stingray Predicted: Fish  Actual: Fish
swan Predicted: Bird  Actual: Bird
termite Predicted: Bug  Actual: Bug
toad Predicted: Amphibian  Actual: Amphibian
tortoise Predicted: Mammal  Actual: Reptile
tuatara Predicted: Amphibian  Actual: Reptile
tuna Predicted: Fish  Actual: Fish
vampire Predicted: Mammal  Actual: Mammal
vole Predicted: Mammal  Actual: Mammal
vulture Predicted: Bird  Actual: Bird
wallaby Predicted: Mammal  Actual: Mammal
wasp Predicted: Bug  Actual: Bug
wolf Predicted: Mammal  Actual: Mammal
worm Predicted: Invertebrae  Actual: Invertebrae
wren Predicted: Bird  Actual: Bird
Correct prediction 14 out of 16
Accuracy: 0.875